<div class="col-6">
      <%= link_to product_path(product) do %>
      <h2>
      <b>
        <%= product.title %>
      </b>
    </h2>
      <%= image_tag product.photo, width:300, height:300 %>
      <% end %>
</div>
