<h1 align="center">
  <b><%= t('product.index.all_products') %></b>
</h1>
<div class="row">
  <%= render @products%>
</div>
<%= will_paginate @products, :previous_label => t('views.pagination.prev'), :next_label => t('views.pagination.next') %>
